# server endpoints
BACKEND_URL=http://localhost:8001

# AI model configs
OLLAMA_MODEL = phi3
OLLAMA_HOST = http://localhost:11434
GEMINI_MODEL=gemini-2.5-flash-lite

# Secret Keys
GEMINI_API_KEY=your_actual_google_gemini_api_key